* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

img {
  width: 100px;
  height: 180px;
}

.btn {
  outline: none;
  background-color: blue;
  border-radius: 1rem;
  padding: 1.5rem 7rem;
  border: 0;
  color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  font-size: 2.2rem;
}
.btn:hover,
.btn:active {
  opacity: 0.8;
}

.on {
  background-color: red;
}
